@page
@model webserver.Pages.Manage.ClientCRUD
@{
    ViewData["Title"] = "ClientCRUD";
}

<h1>@ViewData["Title"]</h1>

<br>
    <h2>Client LIST</h2>
    <a class="btn btn-primary btn-sm" href="/Manage/ClientCreation">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <body>
            <li class="item">
                @foreach(var item in Model.listClients){
                    <tr>
                        <td>@item.UserName</td>
                    </tr>
                }
            </li>
        </body>
    </table>
</br>

@{
    int num = (int)Math.Ceiling((float)(Model.rowCount / Model.size)) + 1;
}
<div class="btn-group">
    @for (int i = 1; i <= num && i<10; i++) {
        <form method="get" style="margin-right: 2%;">
            <input type="hidden" name="pageIndex" value="@i" />
            <input type="hidden" name="pageSize" value="5" />
            
            @if(Model.index==i){
                <button type="submit" class="btn btn-success">@i</button>
            }else{
                <button type="submit" class="btn btn-primary">@i</button>
            }
        </form>
    }
</div>