@page
@model webserver.Pages.Manage.RECRUD
@{
    ViewData["Title"] = "RECRUD";
}

<h1>@ViewData["Title"]</h1>

<br>
    <h2>Real Estates List</h2>
    @if(User.IsInRole("Client")==false){
        <a class="btn btn-primary btn-sm" href="/Manage/RealEstateCreation">Create</a>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    <form method="get">
                        <input type="hidden" name="pageIndex" value=@Model.index />
                        <input type="hidden" name="pageSize" value=@Model.size />
                        <input type="hidden" name="orderby" value="Name ASC" />
                        <button type="submit" class="btn btn-secondary">Name</button>
                    </form>
                </th>
                <th>Address</th>
                <th>Price</th>
                <th>Company</th>
            </tr>
        </thead>
        <body>
            <li class="item">
                @foreach(var item in Model.listREINFOs){
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td>@item.Price</td>
                        <td>@item.CompanyName</td>
                    </tr>
                }
            </li>
        </body>
    </table>
</br>

@{
    int num = (int)Math.Ceiling((float)(Model.rowCount / Model.size)) + 1;
}
<div class="btn-group">
    @for (int i = 1; i <= num && i<10; i++)
    {
        <form method="get" style="margin-right: 2%;">
            <input type="hidden" name="pageIndex" value="@i" />
            <input type="hidden" name="pageSize" value="5" />
            
            @if(Model.index==i){
                <button type="submit" class="btn btn-success">@i</button>
            }else{
                <button type="submit" class="btn btn-primary">@i</button>
            }
        </form>
    }
</div>
